* {
  font-family: 'Work Sans', sans-serif;
  font-size: 16px;
  box-sizing: border-box;
  line-height: 1;
}
html, body {
  color: #333333;
}
.admin--main {
  margin-left: 250px;
  padding: 50px 80px;
  width: 100%;
}
.site-wrapper, .admin--container {
  display: flex;
  flex: 1;
}

.link , .link14{
  text-decoration: none;
}
.link14:hover {
  background-color: #143b58;
}
.btn {
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 5px 10px 0 0;
  color: white;
  width: 120px;
  height: 45px;
}
.center {
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.font{
  font-style: normal;
  font-weight: 500;
  line-height: 25.5px; 
}

/* SIDEBAR */

.sidebar {
  border-right: 2px solid #E7E7E7;
  background-color:#091d2c;
  width: 250px;
  height: 100vh;
  z-index: 1;
  position: fixed;
}
.user-icon-circle {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px; 
  height: 40px;
  color: white;
  background-color:#184E77; 
  border-radius: 50%; 
  margin: 2px -5px 0 15px;
}
.admin--icon {
  display: flex;
  text-align: center;
  background-color: #143b58;
  color: white;
  padding: 5px;
}
.admin--text {
  font-size: 20px;
  margin-left: 20px;
  margin-top: 12px;
}
.admin14{
  color:rgb(247, 177, 98);
  font-size: 20px;
}
.arrow--icon {
  top: 5px;
  left: 190px;
  position: absolute;
  color:rgb(169, 238, 238);
}
.sidebar--menu {
  display: grid;
}
.sidebar--menu a {
  width: auto;
  padding: 10px 20px;
  text-decoration: none;
}
.active14 {
  background-color: #184E77;
  color: white;
}
.dropdown {
  background-color: #30668F;
  color: white;
}
.active-drp {
  background-color: #467CA5;
}
.btn.logout {
  bottom: 0;
  position: fixed;
  margin-left: 60px;
  margin-bottom: 30px;
  padding: 10px;
}
.admin--copyright {
  bottom: 0;
  position: fixed;
  font-size: 10px;
  color: #E7E7E7;
  margin-left: 25px;
  margin-bottom: 10px;
}
.btn.add-location {
  background: var(--2, #38A3A5);
  width: 15%;
}

table {
  border-spacing: 0;
  border-radius: 10px;
  border: 2px solid #E7E7E7;
  width: 100%;
  margin-top: 20px;
}
table th, table td {
  padding: 10px 20px;
  text-align: center;
}
.btn.search, .btn.logout, .btn.done {
  background-color: #184E77;
}
.location--img {
  width: 140px;
  height: 100px;  
  object-fit: cover;
  object-position: center;
}
.input {
  flex-direction: column;
  margin-right: 20px;
}
.input--form {
  width: 60%;
}
.input--form > p{
  font-weight: 900;
  margin: 20px;
}
label {
  font-weight: 400;
  margin-top: 15px;
  margin-bottom: 4px;
}
textarea {
  resize: none;
  height: 120px;
  background: #EFEFEF;
  border: 1px solid #E7E7E7;
}
select {
  width: 50%;
}
.image--border {
  border: 3px dashed #E7E7E7;
  border-radius: 20px;
}
.btn.done {
  margin-top: 20px;
  display: inline-flex;
  padding: 9px 56px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.users, .locations {
  font-weight: normal;
  color: white;
  line-height: 25px;
  margin: 0;
  padding: 0;
  cursor: pointer;
  position: relative;
}
.styled-input {
  border-radius: 5px;
  border: 1px solid #E7E7E7;
  background-color: #EFEFEF;
  font-size: 15px;
  height: 45px;    
}
.choose--file {
  color: var(--1, var(--default-text, #184E77));
  font-weight: 600;
}

/* LOCATION */

.search--container {
  display: flex;
  justify-content: center;
  position: relative;
}
.admin--search--bar {
  margin-right: 10px;
  height: 45px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #E7E7E7;
  background: #F7F7F7;
  text-indent: 40px;
}
.admin--search--icon{
  position: absolute;
  width: 20px;
  height: 20px;
  top: 18px;
  left: 0;
  margin-left: 20px;
}

.dropdown--container {
  background-color:#184E77;
  padding: 10px;
}

#locations1  {
  width: 100%;
  display: block;
  padding: 6px;
}

/* DASHBOARD */
.dashboard--container {
  border-top: 2px solid #EFEFEF;
  margin-top: 20px;
}

.dashboard--text {
  font-size: 14px;
}

.dashboard--performance {
  margin-top: 20px;
}

.dashboard--performance-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px; 
  margin: 40px 10px 40px 25px;
}

.dashboard--users {
  background-color: #38A3A5;
  padding: 15px;
  width: 20px;
  border-radius: 50%;
  margin-right: 20px;
}

.dashboard--total-container {
  display: flex;
  flex-direction: column;
}

.dashboard--items {
  height: 90px;
  justify-content: center;
  border: 2px solid #EFEFEF;
  border-radius: 5px;
}

/* Original Animation Styles */
.icon-bounce {
  animation: fadeInDown 1s ease-out 1 forwards;
}

@keyframes fadeInDown {
  0% {
    transform: translateX(40%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.move-from-right {
  animation: moveFromRight 1s ease-out 1 forwards;
}

@keyframes moveFromRight {
  0% {
    transform: translateX(50%);
    
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.User--preference-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.locations-items{
  margin-top: 45px;
}

.height120 {
  height: 120px;
}

.width120 {
  width: 55%;
}

.style--barGraph {
  border: 2px solid #EFEFEF;
  width: 650px;
  height: 450px;
}

.top-spot-table{
  width: 650px;
  height: 635px;
  margin: 20px 10px 0 25px;
}

.top-bookmark-table{
 gap: 20px;
 height: 635px;
}

.dashboard--location-container{
  margin-top: -5px;
}

.apexcharts-text tspan {
  font-size: 12px;
}

.bordercolor {
  border-left: 5px solid #38A3A5;
}

.bordercolor1 {
  border-bottom: 5px solid #57CC99;
}

.table--th1 > th {
  background: #E7E7E7;
  font-weight: 500;
  height: 50px;
}

.heading9 {
  font-size: 28px;
  font-weight: 700;
}

.font20 {
  font-size: 20px;
}